PORT=3100
BACKEND_DOMAIN= localhost
API_SERVER_URL= http://localhost:${PORT}

FRONTEND_URL= http://localhost:3333
FRONTEND_DOMAIN= localhost

# Json Web Token
SECRET_ACCESS_JWT= your secret key
EXPIRE_ACCESS_JWT= key expiration time e.g. 4h

SECRET_REFRESH_JWT= your secret key
EXPIRE_REFRESH_JWT= key expiration time e.g. 24h

SECRET_RESET_PASS_JWT= your secret key
EXPIRE_RESET_PASS_JWT= key expiration time e.g. 24h

SECRET_POLL_PERMISSION_JWT= your secret key

# Postgresql
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}

# Mailer
MAIL_HOST= sandbox.smtp.mailtrap.io
MAIL_PORT= 1234
MAIL_USER= user@example.com
MAIL_PASSWORD= your password
MAIL_FROM= noreply@example.com

# Upload file
UPLOADED_FILES_DESTINATION='./dist/uploads'
